@charset "utf-8";
/* CSS Document */

#header {
    font-size: x-large;
    margin: auto;
    padding: 20px;
    text-align: center;
    border-bottom: 1px dotted;
}

.side-col {
    height: 493px;
    width: 100px;

}

.side-col p {
    font-family: 隶书, serif;
    width: 1em;
    font-size: 30px;
    margin: auto;
    position: relative;
    top: 30%;
}

.vertical {
    height: 160px;
    width: 80px;
}

.horizontal {
    height: 80px;
    width: 160px;
}

.center {
    height: 80px;
    width: 80px;
    margin-left: 80px;
    margin-top: 80px;
}

.block {
    position: absolute;
}

.upper.left {
    margin-left: 0;
    margin-top: 0;
    text-align: left;
}

.bottom.left {
    margin-left: 0;
    margin-top: 160px;
}

.bottom span {
    position: absolute;
    bottom: 0;
}

.top span {
    position: absolute;
    top: 0;
}

.right span {
    position: absolute;
    right: 0;
}

.left span {
    position: absolute;
    left: 0;
}

.center span {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    left: 42%;
}

.upper.right {
    margin-left: 80px;
    margin-top: 0;
}

.bottom.right {
    margin-left: 160px;
    margin-top: 80px;
}

#square {
    box-shadow: 0 0 20px black;
    background: #ffffff;
    margin: 20px auto 30px;
    padding: 20px;
    height: 240px;
    width: 240px;
}

#left-col {
    position: absolute;
    left: 300px;
    /*margin-left: 300px;*/
    display: inline-block;
    border-right: dotted 3px;
    vertical-align: top;
    background: url("scroll.png") left;
}

#right-col {
    position: absolute;
    right: 300px;
    /*margin-right: 300px;*/
    display: inline-block;
    border-left: dotted 3px;
    vertical-align: top;
    background: url("scroll.png") right;
}

#middle-col {
    position: relative;
    width: 510px;
    /*height: 493px;*/
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    margin: auto;
    padding: 0 60px 0 60px;
}

#middle-col p {
    text-align: left;
    overflow: auto;
    padding: 0 20px 0 20px;
}

#wrapper {
    text-align: center;
}

#footer {
    margin: auto;
    text-align: center;
    border-top: dotted 1px;
}